{% extends 'base.html' %}

{% block content %}
  <h1>List of Patients</h1>
  <table class="table mt-5 table-bordered table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patient_list %}
        <tr>
          <td>{{ patient.id }}</td>
          <td>{{ patient.date_in }}</td>
          <td> <a href="{% url 'patients:patient_detail' pk=patient.pk %}">{{patient.name}}</a></td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.phone}}</td>
          
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">No patients found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
