{% extends 'base.html' %}


{% block content %}
 
    <h1>{{ patient_detail }} Vital Signs</h1>
    <table class="table mt-5 table-bordered table-striped table-hover">
      <thead class=table-dark>
        <tr>
          <th>Measurement Time</th>
          <th>Temperature (C)</th>
          <th>Blood Pressure (mmHg)</th>
          <th>Heart Rate (bpm)</th>
          <th>Respiratory Rate (bpm)</th>
          <th>Oxygen Saturation (%)</th>
        </tr>
      </thead>
      <tbody>
          
      {% for vital_signs in patient_detail.vitalsigns_set.all %}
      <tr>
        <td>{{ vital_signs.measurement_date }}</td>
        <td>{{ vital_signs.temperature }}</td>
        <td>{{ vital_signs.blood_pressure_systolic}}/{{vital_signs.blood_pressure_diastolic }}</td>
        <td>{{ vital_signs.heart_rate }}</td>
        <td>{{ vital_signs.respiratory_rate }}</td>
        <td>{{ vital_signs.oxygen_saturation }}</td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No vital signs recorded.</td>
      </tr>


      {% endfor %}

      </tbody>
    </table>


{% endblock %}
