# Игнорировать файлы логов
*.log

# Игнорировать файлы баз данных SQLite
*.sqlite3

# Игнорировать папки миграций
**/migrations/

# Игнорировать файлы байт-кода Python
*.pyc

# Игнорировать кэшированные файлы Python
__pycache__/
